/* Inline styles */
.sliderb_container{
	position: relative;
	width: 600px;
	height: 300px;
	overflow: hidden;
	float: left;
    margin-bottom: 20px;
}
/* loading */
.sliderb_container .slider_loading{
	position: absolute;
	top: 0px;
	left: 0px;
}
.sliderb_container .slider_loading .slider_loading_opac{
	filter: alpha(opacity=70);
	opacity:0.7;
	position: absolute;
	display: block;
	background-color: #000;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
}
.sliderb_container .slider_loading .slider_loading_img{
	position: absolute;
	display: block;
	background: url(/resources/img/slider/loading.gif) no-repeat center center;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
}
/* slides container */
.sliderb_container .slider_slides_frame{
	cursor: move;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 600px;
	height: 300px;
	overflow: hidden;
}
.slider_slides_frame_link,.slider_slides_frame_link:visited{
	font-weight: 600;
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	white-space: nowrap;
	width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.slider_slides_frame_link:hover,.slider_slides_frame_link:active{
	color:#FCCB0D;
}
/* thumbnavigator */
.sliderb_container .slider_thumbnavigator{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height:60px;
	width:600px;
}
.sliderb_container .slider_thumbnavigator .slider_thn_opac{
	filter: alpha(opacity=40);
	opacity:0.4;
	position: absolute;
	display: block;
	background-color: #000000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
/* Thumbnail Item Skin Begin */
.sliderb_container .slider_thumbnavigator .slider_thn_iskin .slider_thn_iskin_prototype{
	POSITION: absolute;
	WIDTH: 600px;
	HEIGHT: 60px;
	TOP: 0;
	LEFT: 0;
}
.sliderb_container .slider_thumbnavigator .slider_thn_iskin .slider_thn_iskin_template{
	font-weight: 300;
	POSITION: absolute;
	WIDTH: 100%;
	HEIGHT: 100%;
	TOP: 2px;
	LEFT: 0;
	color:#fff;
	line-height: 19px;
	font-size:14px;
	padding-left:10px;
	text-overflow: ellipsis;
}

/* Caption Style */
.captionOrange, .captionBlack
{
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}
.captionOrange
{
	background: #EB5100;
	background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
	font-size:16px;
	background: #000;
	background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover
{
	color: #eb5100;
	text-decoration: underline;
	background-color: #eeeeee;
	background-color: rgba(238, 238, 238, 0.7);
}


/* #region Bullet Navigator Skin Begin */
/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
	position: absolute;
	bottom: 46px;
	right: 8px;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	/* size of bullet elment */
	width: 8px;
	height: 8px;
	filter: alpha(opacity=70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}
.jssorb01 div {
	background-color: gray;
}
.jssorb01 div:hover, .jssorb01 .av:hover {
	background-color: #d3d3d3;
}
.jssorb01 .av {
	background-color: #fff;
}
.jssorb01 .dn, .jssorb01 .dn:hover {
	background-color: #555555;
}



/* #region Arrow Navigator Skin Begin */
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(/resources/img/slider/arrows.png) no-repeat;
	overflow: hidden;
}
.jssora05l{
	top: 123px;
	left: 8px;
}
.jssora05r {
	top: 123px;
	right: 8px;
}
.jssora05l {
	background-position: -10px -40px;
}
.jssora05r {
	background-position: -70px -40px;
}
.jssora05l:hover {
	background-position: -130px -40px;
}
.jssora05r:hover {
	background-position: -190px -40px;
}
.jssora05l.jssora05ldn {
	background-position: -250px -40px;
}
.jssora05r.jssora05rdn {
	background-position: -310px -40px;
}